.field {
  padding: var(--pd);
  padding: 0;
}

.field div {
  margin: 0;
  width: 100%;
}

.field label {
  padding: 2em;
}
.field input {
  padding: 1.5em 1em 1em;
  text-transform: uppercase;
}

.btn {
  display: block !important;
  margin: 1em auto !important;
}

p {
  padding-left: 2em;
}