.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.form div {
  flex-grow: 1;
  margin-right: 0.5em;
}
.form div div {
  background: #FFFFFF;
  border-color: #CCCCCC;
  box-sizing: border-box;
  border-radius: 29px;
}

.form label {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #cccccc;
}
.form input {
  width: 100%;
  /* padding: 10px 14px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #cccccc;
}


